/* common styles throughout */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;   
}
.text-primary {
    color: #E55473; /*title*/
}
.btn-primary {    /*btn design*/
    border-radius: 20px;
    background: #E55473;
    border: 0;
    color:#FFF;
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
}
.section-title {
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 20px;
}
.section-desc {
    color:  #181818;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    /* padding: 0px 150px;  */

}
/* header styles */
.header{
    background: rgba(229, 84, 115, 0.10);
}
/* nav styles */  
 nav {
    display: flex;
    padding: 30px 0px 10px 0px;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;

}
.nav-title {
    color: #181818;
    font-size: 35px;
}
nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 20px;  
}
nav a {
    text-decoration: none;
    color:#181818;
    font-size: 18px;
}

/* banner style*/
.banner {
    display: flex;
    padding: 30px 0px 0px 100px;
    align-items: center;
    justify-content: space-around;
}
.banner-content {
    width: 500px; 
}
.banner .flower-dp {
    width: 435px;
    height: 500px;
}
.banner-heading {
    color:#181818;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-desc {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* main section style */
/* main {
    max-width: 1140px;
    margin: 0 auto;
}
main section {
    margin-top: 130px;
} */

/* Featured flowers section styles */
.flowers-in-circle {
    margin: 0 190px;
}

.flowers-container {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.flower-name{
    text-decoration: underline;
}

#pink-tulip {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
}
#mix-flower {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
#yellow-tulip{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* services section */
.services {
    padding: 50px;
    background: rgba(39, 39, 39, 0.05);
    margin: 130px 130px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
 
/* hot deal sale section */
.deal {
    display: flex;
    padding: 100px 250px;
    margin: 100px 0;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    justify-content: space-around;
}
.sale-content {
    width: 500px; 
    text-align: center;
}
.deal .rose-dp {
    width: 235px;
    height: 300px;
}
.sale-heading {
    color:#181818;
    font-size: 35px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 20px;
}
.sale-desc {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}